In [1]:
import pandas as pd
import numpy as np

import bootcamp_utils

# Plotting modules and settings.
import matplotlib.pyplot as plt
import seaborn as sns
colors = ['#1f77b4', '#ff7f0e', '#2ca02c', '#d62728',
          '#9467bd', '#8c564b', '#e377c2', '#7f7f7f',
          '#bcbd22', '#17becf']
sns.set(style='whitegrid', palette=colors, rc={'axes.labelsize': 16})

# The following is specific Jupyter notebooks
%matplotlib inline
%config InlineBackend.figure_formats = {'png', 'retina'}

In [2]:
df = pd.read_csv('2017_0602_0626_qxn_tidy.csv')

In [6]:
#Set index using time
df.index = df['time']
del df['time']

In [7]:
df.head()

                    group  mouse_id  sensor_type  activity(rev)
time
2017-06-02 11:36:00   DKO       623            0              1
2017-06-02 11:37:00   DKO       623            0              0
2017-06-02 11:38:00   DKO       623            0             25
2017-06-02 11:39:00   DKO       623            0              5
2017-06-02 11:40:00   DKO       623            0             12

In [15]:
df_dko = df.loc [df['group']=='DKO',:]
df_dhet = df.loc[df['group']=='DoubleHet', :]

In [17]:
gb_dko = df_dko.groupby('mouse_id')
gb_dhet = df_dhet.groupby('mouse_id')