In [1]:
import numpy as np
import pandas as pd

import bootcamp_utils

# Plotting modules and settings.
import matplotlib.pyplot as plt
import seaborn as sns
colors = ['#1f77b4', '#ff7f0e', '#2ca02c', '#d62728',
          '#9467bd', '#8c564b', '#e377c2', '#7f7f7f',
          '#bcbd22', '#17becf']
sns.set(style='whitegrid', palette=colors, rc={'axes.labelsize': 16})

import bokeh

# The following is specific Jupyter notebooks
%matplotlib inline
%config InlineBackend.figure_formats = {'png', 'retina'}

In [2]:
# Load in the headers
with open('2017_0602_0626_qxn.csv') as fhandle:
    line_1 = fhandle.readline().rstrip()
    mouse_id = line_1.split(',')[1:len(line_1)]
    line_2 = fhandle.readline().rstrip()
    group = line_2.split(',')[1:len(line_2)]
    line_3 = fhandle.readline().rstrip()
    sensor_type = line_3.split(',')[1:len(line_3)]

In [3]:
# Load in the data to values_df
col_names= ['time'] + mouse_id
values_df = pd.read_csv('2017_0602_0626_qxn.csv', skiprows=3, header=None, names=col_names)

In [7]:
# convert time to pd.datetime objects
time_parsed = pd.to_datetime(values_df['time'], format='%m/%d/%Y %I:%M:%S %p', infer_datetime_format=True)
values_df['time'] = time_parsed
values_df.index = values_df['time']

In [8]:
values_df.head()

,time,623,625,627,630,631,637,626,628,632,633,635,641
time,,,,,,,,,,,,,
2017-06-02 11:36:00,2017-06-02 11:36:00,1,0,0,13,64,10,0,0,0,2,62,42
2017-06-02 11:37:00,2017-06-02 11:37:00,0,0,0,31,54,0,5,19,0,0,5,14
2017-06-02 11:38:00,2017-06-02 11:38:00,25,3,0,53,34,0,31,58,0,0,1,23
2017-06-02 11:39:00,2017-06-02 11:39:00,5,9,11,0,0,0,53,64,7,4,26,0
2017-06-02 11:40:00,2017-06-02 11:40:00,12,18,3,0,37,0,43,0,10,4,0,8

In [24]:
def lightdark(data):
    
    """Determine light/dark condition based on time index"""
    
    data.loc[data.index.hour.isin(range(7,20)), 'lightdark'] = 'light'
    data.loc[data.index.hour.isin([20,21,22,23,0,1,2,3,4,5,6]), 'lightdark'] = 'dark'
    return data

In [36]:
values_lightdark = lightdark(values_df)
values_lightdark.head()

,time,623,625,627,630,631,637,626,628,632,633,635,641,lightdark
time,,,,,,,,,,,,,,
2017-06-02 11:36:00,2017-06-02 11:36:00,1,0,0,13,64,10,0,0,0,2,62,42,light
2017-06-02 11:37:00,2017-06-02 11:37:00,0,0,0,31,54,0,5,19,0,0,5,14,light
2017-06-02 11:38:00,2017-06-02 11:38:00,25,3,0,53,34,0,31,58,0,0,1,23,light
2017-06-02 11:39:00,2017-06-02 11:39:00,5,9,11,0,0,0,53,64,7,4,26,0,light
2017-06-02 11:40:00,2017-06-02 11:40:00,12,18,3,0,37,0,43,0,10,4,0,8,light

In [48]:
#Resample
df_1h_sum = values_df.resample('1h', label='left').sum()

df_1h_sum_lightdark = lightdark(df_1h_sum)

In [49]:
df_1h_sum_lightdark

,623,625,627,630,631,637,626,628,632,633,635,641,lightdark
time,,,,,,,,,,,,,
2017-06-02 11:00:00,406,461,102,919,688,280,479,809,323,138,770,698,light
2017-06-02 12:00:00,164,111,1921,632,0,768,1618,1798,156,1325,127,670,light
2017-06-02 13:00:00,0,0,2102,10,0,0,558,1114,21,931,0,0,light
2017-06-02 14:00:00,0,0,0,0,0,0,0,0,0,0,4,0,light
2017-06-02 15:00:00,0,0,1,0,4,0,0,2,0,0,0,1,light
2017-06-02 16:00:00,0,4,0,0,3,476,7,0,24,5,0,0,light
2017-06-02 17:00:00,0,0,119,11,0,0,18,1295,0,0,8,17,light
2017-06-02 18:00:00,3,17,0,0,62,573,0,0,0,0,63,2019,light
2017-06-02 19:00:00,420,613,592,4,168,146,614,1256,5,407,1055,1,light
2017-06-02 20:00:00,431,1210,2536,2535,1710,1866,621,1062,1381,2096,1200,1257,dark
2017-06-02 21:00:00,1355,1076,2838,3146,1403,2290,1511,2245,1865,2493,1535,3013,dark
2017-06-02 22:00:00,1803,1966,2498,2897,2648,194,1226,1608,318,2992,2114,2140,dark
2017-06-02 23:00:00,1872,1647,2401,1657,1658,2114,1302,605,1434,2852,1723,2222,dark
2017-06-03 00:00:00,1199,1640,2253,429,2511,1535,0,1878,93,1571,2216,1725,dark
2017-06-03 01:00:00,1784,876,2202,2749,2913,2045,447,1121,18,0,1668,2473,dark
2017-06-03 02:00:00,1635,1,2104,1239,3037,1834,1302,0,0,2324,900,2450,dark
2017-06-03 03:00:00,525,0,1321,0,96,1624,942,956,599,2641,0,1287,dark
2017-06-03 04:00:00,0,1057,308,0,0,674,952,1509,444,2780,0,1832,dark
2017-06-03 05:00:00,638,948,0,1794,2017,0,1107,1748,435,2551,1254,1634,dark
2017-06-03 06:00:00,990,827,7,178,1403,0,497,1673,291,218,1401,0,dark
2017-06-03 07:00:00,75,1988,1979,0,988,972,0,1837,2,0,1042,0,light
2017-06-03 08:00:00,0,2,0,0,0,1071,0,0,0,2,57,0,light
2017-06-03 09:00:00,0,2,0,0,0,216,7,0,32,4,0,27,light
2017-06-03 10:00:00,0,0,2,182,17,1390,314,1995,6,165,14,501,light
2017-06-03 11:00:00,16,0,0,1473,0,0,0,373,0,449,0,0,light
2017-06-03 12:00:00,5,0,2,8,16,0,0,0,3,0,0,0,light
2017-06-03 13:00:00,0,549,0,0,0,0,11,807,0,1,0,0,light
2017-06-03 14:00:00,0,55,0,0,0,1,0,0,0,0,45,0,light
2017-06-03 15:00:00,791,0,0,4,0,0,13,0,0,0,0,3,light
2017-06-03 16:00:00,29,0,1305,0,97,947,132,0,26,8,0,5,light
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-06-25 05:00:00,2873,460,397,1062,1665,650,1541,1775,445,3524,386,0,dark
2017-06-25 06:00:00,2426,843,0,1000,97,1159,421,662,592,1449,2228,728,dark
2017-06-25 07:00:00,1816,201,2,77,0,896,0,478,0,1,525,0,light
2017-06-25 08:00:00,169,0,0,12,0,50,0,0,0,0,14,0,light
2017-06-25 09:00:00,0,0,0,177,0,0,8,163,0,0,5,0,light
2017-06-25 10:00:00,1204,0,0,0,0,0,0,0,0,19,101,0,light
2017-06-25 11:00:00,194,144,0,0,0,0,0,0,5,0,0,32,light
2017-06-25 12:00:00,0,0,6,19,0,12,0,0,0,0,0,0,light
2017-06-25 13:00:00,0,0,0,0,0,0,0,0,0,15,0,55,light
2017-06-25 14:00:00,0,0,0,0,0,0,0,101,0,0,0,0,light
2017-06-25 15:00:00,1,180,0,0,0,0,0,0,0,0,0,0,light
2017-06-25 16:00:00,0,0,0,0,0,0,0,0,0,14,0,0,light
2017-06-25 17:00:00,4,0,0,0,0,5,0,0,0,0,11,0,light
2017-06-25 18:00:00,0,188,0,217,0,0,0,847,0,0,0,14,light
2017-06-25 19:00:00,1080,4,743,481,0,556,150,552,0,0,29,44,light
2017-06-25 20:00:00,2372,2191,1849,3141,2357,3078,3414,2588,2158,3104,2192,3001,dark
2017-06-25 21:00:00,2398,2145,836,2660,3620,2328,2737,3775,1929,4287,1428,3030,dark
2017-06-25 22:00:00,1576,1831,852,2010,3226,1041,2587,3862,1807,4597,493,2854,dark
2017-06-25 23:00:00,1053,2072,105,508,3772,3110,2776,3551,1267,4183,2115,2935,dark
2017-06-26 00:00:00,2038,685,1279,3578,3624,2998,2662,2070,1604,4002,1979,3069,dark
2017-06-26 01:00:00,1915,393,842,1816,3975,3345,2131,0,854,4253,1945,3483,dark
2017-06-26 02:00:00,2017,0,306,868,3689,2557,1991,2910,798,3404,990,2655,dark
2017-06-26 03:00:00,1584,1060,0,11,2208,2669,1481,2690,1345,4034,257,3069,dark
2017-06-26 04:00:00,0,2483,414,0,2247,1319,0,272,1304,1156,0,1672,dark
2017-06-26 05:00:00,0,2039,0,0,230,204,1656,1123,770,670,2081,0,dark
2017-06-26 06:00:00,2471,792,0,1093,478,2269,1238,1086,22,392,2349,681,dark
2017-06-26 07:00:00,1577,93,0,14,25,365,5,272,21,0,158,0,light
2017-06-26 08:00:00,965,41,0,17,0,0,0,0,0,0,70,0,light
2017-06-26 09:00:00,202,4,0,85,0,0,0,0,0,6,0,0,light
2017-06-26 10:00:00,0,0,0,0,0,0,0,0,0,0,0,0,light